.snackbar-container{
    position: absolute;
    min-width: 200px;
    max-width: 350px;
    height: 25px;
    padding: 5px;
    border-radius: 4px;
    background-color: #F0CF65;
    border: 2px solid black;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snackbar-text{
    text-align: center;
}

.snackbar-close{
    background-color: transparent;
    border: none;
    outline: none;
}


.close-img{
    width: 10px;
    height: 10px;
}

.critical{
    background-color: #BD4F6C;
}

.success{
    background-color: #DDEDAA;
}

.warning{
    background-color: #F0CF65;
}