.profile{
    width: 410px;
    display: flex;
    align-items: center;
}

.profile-content{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.profile-greeting{
    font-size: 24px;
    font-weight: bolder;
}

.profile-name{
    font-size: 96px;
    margin-left: -7px;
}

.menu-burger{
    display: none;
    width: 20px;
    height: 20px;
}

.burger-buttons{
    display: none;
}

@media screen and (min-width: 1000px){
    .toggle-burger{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .profile{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .profile-content{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 400px){
    .profile-name{
        font-size: 72px;
    }
}

@media screen and (max-width: 1000px){
    .menu-burger{
        display: initial;
    }

    .toggle-burger{
        background-color: transparent;
        border: none;
    }

    .profile-left-col, .profile-right-col{
        height: 146px;
    }

    .burger-opened{
        
        .profile-left-col{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 70%;
        }
        .burger-buttons{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 80%;
        }

        .profile-greeting, .profile-name{
            display: none;
        }
        .profile-content{
            align-items: center;
            justify-content: space-between;
        }
    }

    .burger-closed{
        .burger-buttons{
            display: none;
        }
    }

    .profile-content{
        width: 90%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .profile-top-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px){
    .profile{
        width: 53%;
        height: 100%;
    }
    .profile-name{
        font-size: 72px;
        margin-left: -4px;
    }
    .profile-content{
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
    }
}


@media screen and (max-width: 700px) and (min-width: 400px){
    .burger-opened{
        .profile-left-col{
            width: 65%;
        }
    }
}