.profile{
    width: 410px;
    display: flex;
    align-items: center;
    position: relative;
}

.profile-content{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.profile-greeting{
    font-size: 24px;
    font-weight: bolder;
}

.profile-name-large{
    font-size: 90px;
    margin-left: -7px;
}

.profile-name-medium{
    font-size: 60px;
}

.profile-name-small{
    font-size: 54px;
}

.menu-burger{
    display: none;
    width: 20px;
    height: 14px;
}

.burger-buttons{
    display: none;
}

@media screen and (min-width: 1000px){
    .toggle-burger{
        display: none;
    }
}





@media screen and (max-width: 1000px){
    .menu-burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-bar{
        background-color: black;
        height: 2px;
        width: 100%;
        transition: transform .2s, opacity .2s;
    }

    .toggle-burger{
        background-color: transparent;
        border: none;
        position: absolute;
        top: 27px;
        right: 10px;
    }

    .toggle-burger-clicked{
        #burger-bar-one{
            transform: translateX(2px) translateY(5.0px) rotate(45deg) ;
        }
        #burger-bar-two{
            opacity: 0;
            transform: translateX(1px) translateY(-2.5px) rotate(45deg) ;
        }

        #burger-bar-three{
            transform: translateX(2px) translateY(-7px) rotate(-45deg)  ;
        }
    }

    .profile-content{
        height: 120px;
    }

    .burger-opened{
        
        .profile-left-col{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .burger-buttons{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .profile-greeting, .profile-name{
            display: none;
        }
        .profile-content{
            justify-content: space-between;
        }
    }

    .burger-closed{
        .burger-buttons{
            display: none;
        }
    }

    .profile-content{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .profile-top-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px){
    .profile{
        width: 53%;
        height: 100%;
    }
    .profile-content{
        padding-left: 25px;
        padding-right: 25px;
    }
}


@media screen and (max-width: 700px) and (min-width: 400px){
    .burger-opened{
        .profile-left-col{
            width: 65%;
        }
    }
    
}
@media screen and (max-width: 700px){
    .profile{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .profile-content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .toggle-burger{
        top: 15px;
    }
    .profile-name-small{
        font-size: 48px;
    }
}