.menu-buttons{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.menu-button{
    width: 120px;
    background-color: #BD4F6C;
}

.selected{
    font-weight: bolder;
    animation-name: selected;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes selected {
    from {background-color: #BD4F6C;}
    to {background-color: #F0CF65;}
}

@media screen and (max-width: 1000px){
    .menu-buttons{
        display: none;
        width: 100%;
    }
}