.menu-buttons{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.menu-button{
    width: 120px;
    background-color: var(--no);
}

.selected{
    font-weight: bolder;
    animation-name: selected;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes selected {
    from {background-color:var(--no);}
    to {background-color:var(--container-background);}
}

@media screen and (max-width: 1000px){
    .menu-buttons{
        display: none;
        width: 100%;
    }

    .menu-button{
        width: 140px;
    }
}